* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Signika Negative", sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: black;
}

.container {
  padding: 3em 0;
  width: 90%;
  max-width: 90em;
  margin: 0 auto;
}

.bg-main {
  background: url("./images/1.png");
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  flex-direction: column;
}

.logo {
  max-width: 19rem;
}

ul {
  gap: 2em;
  display: flex;
  flex-direction: column;

  font-size: 1.1rem;
}

a:hover,
a:focus {
  opacity: 0.5;
}

h1,
h2 {
  font-family: "Yeseva One", cursive;
}

h1 {
  font-size: 4rem;
}

/* about us ================================== */
.bg-about-us {
  background: url("./images/about-us.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

h2 {
  font-size: 4rem;
}

.about-us p {
  font-size: 1.2rem;
  line-height: 2.5rem;
  margin: 3em 0;
}

.about-us .btn {
  display: block;
  text-align: center;
  background: #ff8800;
  border-radius: 0.5em;
  padding: 1em 3em;
  color: white;
  font-size: 1.1rem;
}
/* nossos pratos================================================= */
.bg-order-now {
  background: #f2f6f7;
}

.order-now {
  text-align: center;
}

.boxes {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: center;
}

.box {
  width: 20rem;
  min-height: 25rem;
  /* position: relative; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* background-size: cover; */
}

.box:nth-child(1) {
  background: url("./images/2.png");
}

.box:nth-child(2) {
  background: url("./images/3.png");
}

.box:nth-child(3) {
  background: url("./images/4.png");
}

.box:nth-child(4) {
  background: url("./images/5.png");
}

.box:nth-child(5) {
  background: url("./images/6.png");
}

.box:nth-child(6) {
  background: url("./images/7.png");
}

.box:nth-child(7) {
  background: url("./images/8.png");
}

.box:nth-child(8) {
  background: url("./images/9.png");
}

.inside-btn {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem;
}

.hide {
  display: none;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px black;
}

.box:hover .hide {
  display: block;
}
/* footer====================================== */
footer {
  background: #edf1f4;
}

.footer-box {
  display: flex;
  flex-direction: column;
}

footer p,
address {
  font-size: 1.1rem;
  font-style: normal;
}

footer h3 {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 1em;
}

.open-hours p {
  margin-bottom: 1em;
}

footer a {
  text-decoration: underline;
}

.made-by {
  text-align: center;
  border-top: 1px solid black;
  padding: 1em 0;
}

@media (min-width: 40em) {
  .bg-main,
  .bg-about-us {
    min-height: 100vh;
  }
  nav,
  ul {
    flex-direction: row;
  }
  header .container {
    padding: 1em 0;
  }
  nav .logo {
    max-width: 10rem;
  }

  h1 {
    font-size: 6rem;
  }

  .bg-about-us .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .about-us {
    width: 50%;
  }
  .about-us .btn {
    display: inline-block;
  }
  .logo {
    max-width: 18rem;
  }
  .footer-box {
    flex-direction: row;
  }
  .footer-box > * {
    flex: 1;
  }
}
